/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('../../node_modules/simplelightbox/dist/simple-lightbox.min.css');
@import url('../../node_modules/izitoast/dist/css/iziToast.min.css');
@import url('./loader.css');
@import url('./gallery.css');
@import url('./form.css');
@import url('./load-btn.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
